<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gameroom</title>
        <link rel="stylesheet" href="../assets/styles/game.css">
    </head>
    <body>
        <div id="give-up-container">
            <button id="give-up-btn">Give Up</button>
        </div>
        <div id="content-container">
            <div id="game-container">
                <div id="board-container">
                    <div>
                        <h3>Your Board</h3>
                        <svg id="player-board" class="board" width="440" height="440"></svg>
                    </div>
                    <div>
                        <h3>Enemy Board</h3>
                        <svg id="enemy-board" class="board enemy-board" width="440" height="440"></svg>
                    </div>
                </div>
                <div id="start-phase-container">
                    <div id="ship-container">
                      <h3>Drag your ships onto the board:</h3>
                      <h5>Press R to rotate. Curently: <span>Vertical</span></h5>
                      <svg id="ships" xmlns="http://www.w3.org/2000/svg" width="840" height="80"></svg>
                    </div>
                    <button id="ready-btn" disabled>Ready</button>
                </div>
            </div>
            <div id="message-container">
                <h3>Chat</h3>
                <ul id="messages"></ul>
                <form id="form" action="">
                    <input id="input" autocomplete="off" /><button>Send</button>
                </form>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();
            socket.emit('joinRoom', parseInt(window.location.pathname.split('/')[2]));

            var messages = document.getElementById('messages');
            var form = document.getElementById('form');
            var input = document.getElementById('input');

            form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (input.value) {
                    socket.emit('chat message', input.value);
                    input.value = '';
                }
            });

            socket.on('chat message', function(msg) {
                var item = document.createElement('li');
                item.textContent = msg;
                messages.appendChild(item);
                messages.scrollTop = messages.scrollHeight;
            });

        </script>
        <script src="../assets/scripts/script.js"></script>
    </body>
</html>