<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Battleship</title>
  <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>
  <h1>Battleship</h1>
  <div id="game-container">
    <div id="board-container">
      <svg id="player-board" class="board" width="440" height="440"></svg>
      <svg id="enemy-board" class="board enemy-board" width="440" height="440"></svg>
    </div>
    <div id="ship-container">
      <h3>Drag your ships onto the board:</h3>
      <h5>Press R to rotate. Curently: <span>Vertical</span></h5>
      <svg id="ships" xmlns="http://www.w3.org/2000/svg" width="840" height="80"></svg>
    </div>
  </div>
  <button id="start-game" disabled>Start Game</button>
  <script src="../assets/scripts/script.js"></script>
</body>
</html>
