<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <!-- Google reCAPTCHA CDN -->
        <script src=
            "https://www.google.com/recaptcha/api.js" async defer>
        </script>
    </head>
    <body>
        <h2>Login</h2>
        <p class="error-message" id="login-error"></p>
        <form id="login" name="login" action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" /><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" />
            <br>
            <!-- div to show reCAPTCHA -->
            <div class="g-recaptcha" 
                 data-sitekey="6LeimpgqAAAAAI_1Vj8tA1gMxoZDCHC3ljj7OMgA">
            </div>
            <br>
            <input type="submit" value="Submit" />
        </form>
        <a href="/register">Register Here</a>
    </body>
</html>